## Folders to ignore
Publications/data/*
Publications/embeddings/*
Publications/batch_jobs/*
Publications/status_logs/*
Publications/run_logs/*
Publications/__pycache__/*
Publications/publications.db

Patents/data/*
Patents/embeddings/*
Patents/batch_jobs/*
Patents/status_logs/*
Patents/run_logs/*
Patents/__pycache__/*
Patents/patents.db

.env
.claude/*