## Folders to ignore
Publications/data/*
Publications/embeddings/*
Publications/batch_jobs/*
Publications/status_logs/*
Publications/run_logs/*
Publications/__pycache__/*
Publications/publications.db
Publications/publications.db.wal
Publications/Data_analysis.ipynb
Publications/Data_analysis_python.ipynb

Patents/data/*
Patents/embeddings/*
Patents/batch_jobs/*
Patents/status_logs/*
Patents/run_logs/*
Patents/__pycache__/*
Patents/patents.db
Patents/patents.db.wal
Patents/Clean_final_data.ipynb
Patents/Data_analysis.ipynb

Funding/batch_jobs/*
Funding/status_logs/*
Funding/run_logs/*
Funding/__pycache__/*
Funding/funding.db
Funding/funding.db.wal
Funding/data_audit/*
Funding/data_review/*
Funding/data_output/*
Funding/raw_data/*
Funding/Funding_analysis.ipynb
Funding/Funding_analysis_R.ipynb

.env
.claude/*